.body{
    background-color: antiquewhite;
}

.d-flex{
    display: flex;
    justify-content: center;
}

.game-container{
    background-color: #f2ccff;
    border: 1px solid blueviolet;
    width: 550px;
    display: block;
    margin: 10px auto;
    padding: 20px 5px;
    border-radius: 15px;
    box-shadow: 0px 3px 7px 0px;
}

.card{
    border: 1px solid blueviolet;
    padding: 15px 20px;
    width: 150px;
    margin: 20px;
    border-radius: 20px;
}

.text-color{
    color: blueviolet;
}

.text-center{
    text-align: center;
}


.game-img{
    width: 20px;
}


.btn{
    margin: 20px;
    width: 100px;
    padding: 5px 3px;
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
    border: none;
    text-align: center;
    cursor: pointer;
}

.reset-btn{
    display: block;
    margin: 30px auto;
    padding: 5px 15px;
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover, .reset-btn:hover{
    transform: scale(1.1);
}

#winning-msg{
    animation: pop 0.5s ease forwards;
}

@keyframes pop {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

@media screen and (max-width: 600px){
    .game-container{
    width: 280px;
}

.card{
    width: 130px;
    padding: 5px 7px;
    margin: 5px;
}
.btn{
    width: 75px;
}
}